* {
  text-align: center;
  margin: 4px;
}

label {
  display: flex;
  justify-content: center;
  height: 30px;
  
}

p {
  width: 100px;
  text-align: right;
}

select {
  width: 250px;  
}

input {
  width: 250px;  
  height: 16px;
}

textarea {
  width: 250px;  
  height: 80px;
}

.field-job label {
  height: auto;
}

.div-03 p {
  margin: auto;
  width: 350px;  
  height: 22px;
  text-align: left;
  
}
