body {
  font-family: Georgia, serif;
  margin: 0px;
  height: 100%; 
  display: block;    
}
header{
  border: 1px rgb(65, 65, 65) solid;
  color: rgb(65, 65, 65);
  text-transform: uppercase;
  font-weight: bolder; 
  text-align: center;  
}
.title-header{  
  margin: 0px;
  font-size: 35px;
  padding: 18px;
}
.list-header{  
  display: inline-block; 
  font-size: 22px;
  width: 200px;     
}
.nav-header{  
  border: 1px rgb(65, 65, 65) solid;
}
a {
  text-decoration: none;
  color: inherit;
}
.title-section{
  height: 80px;
}



.title-section{
  border: 1px rgb(65, 65, 65) solid;
}

.main-article{
  height: 600px;
}



















footer{
  border: 1px rgb(65, 65, 65) solid;
  color: rgb(65, 65, 65);
  height: 30px;
  text-align: center;
  
}
footer section p{
  padding: 5px;
  margin: 0px;
}



